.menu {

	// .menu__icon

	&__icon {
		position: relative;
		z-index: 3;
	}

	// .menu__body

	&__body {		
			position: fixed;
			inset-inline-start: 100%;
			inset-block-start: 0;
			inline-size: 100%;
			block-size: 100%;
			z-index: 2;
			overflow: auto;
			transition: inset-inline-start 0.3s;
			padding: toRem(70) toRem(15) toRem(30);
			background-color: #dbab95; //колір подложкі

			&::before {
				content: '';
				position: fixed;
				block-size: toRem(60);
				inline-size: 100%;
				inset-inline-start: 100%;
				inset-block-start: 0;
				z-index: 36;
				background-color: #f5c5b1; //колір подложкі шапкі
				transition: inset-inline-start 0.3s;		
		}
	}

	// .menu__list

	&__list {		 
		flex-direction: column;
		background-color: transparent;
		align-items: flex-end;
		row-gap: toRem(20);
		
	}

	// .menu__item

	&__item {
		@media (max-width:toRem(652)) {
			font-size: toRem(25);
		}
	}

	// .menu__link

	&__link {
	
	}
}

.icon-menu {
	flex-shrink: 0;
	flex-basis: 30px;
	display: flex;
	flex-direction: column;

	span {
		margin-block: toRem(6);
	}

	span,
	&::before,
	&::after {
		transition: all 0.3s;
		content: "";
		flex-basis: 2px;		
		width: 100%;
		background-color: #1a1818;//колир рісок на бургере
	}
}

.open-menu {
	& .menu__body {
			&::before {
				inset-inline-start: 0;
			}
	
			inset-inline-start: 0;
	}
	& .icon-menu {
		justify-content: center;
		span {
			width: 0;
			height: 0;
			margin: 0;
		}
		&::before {
			transform: rotate(45deg) translateY(toRem(3));
		}

		&::after {
			transform: rotate(-45deg) translateY(toRem(-3));
		}
	}
	
}