@charset "UTF-8";
/* Підключення фрифтів */
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
/* Google Fonts (Plugin) */
/* Локальне підключення шрифтів */
@import url("reset.css");
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* .... */
/* Скидання стилів */
/* Основні стилі */
body {
  font-family: "Hind+Siliguri";
  color: #292830;
  font-size: 1.125rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
  max-width: 71.1875rem;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

/* --------------------- */
/* БЕМ елементі @import */
.logo {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 0.95; /* 21.85px */
}
.logo span {
  margin-inline-end: 0.75rem;
  padding: 0.375rem 0.8125rem 0.5rem 0.875rem;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF7235;
}

.active {
  border-radius: 8px;
  border: 1px solid #FF7235;
  background-color: #FF7235;
  padding-block: 0.625rem;
  padding-inline: 1.0625rem 0.875rem;
  font-weight: 600;
  transition: background-color 0.5s;
  color: #FFF;
  font-size: 1rem;
  transition: color 0.5s;
}
.active:hover {
  color: #FF7235;
  background-color: #FFF;
}

.content__title {
  color: #292830;
  font-size: 6rem;
  font-weight: 700;
  margin-block-end: 1.25rem;
}
.content__text {
  color: #BDBDBD;
  font-size: 1.5rem;
  margin-block-end: 2.5rem;
}

/* --------------------- */
/* Стилів header */
.header__container {
  padding-block: 0.625rem;
  min-height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}
@media (max-width: 40.8125rem) {
  .header__container {
    min-height: 4.375rem;
  }
}
.header__logo {
  flex-basis: 7.1875rem;
  position: relative;
  z-index: 3;
}
@media (max-width: 40.8125rem) {
  .header__logo {
    order: 1;
  }
}
.header__menu {
  display: flex;
}
@media (max-width: 40.8125rem) {
  .header__menu {
    order: 3;
    margin-inline-end: 1.25rem;
  }
}
.header__button {
  flex-shrink: 0;
  line-height: 95%; /* 17.1px */
  position: relative;
  z-index: 3;
  border-radius: 8px;
  border: 1px solid #FF7235;
  padding-block: 0.75rem 0.8125rem;
  padding-inline: 1.125rem 1.0625rem;
  color: #FF7235;
}
.header__button:hover {
  color: #fff;
  background-color: #FF7235;
  transition: all 0.5s;
}
@media (max-width: 40.8125rem) {
  .header__button {
    order: 2;
  }
}

.menu__icon {
  position: relative;
  z-index: 3;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  row-gap: 0.1875rem;
}
@media (max-width: 42.8125rem) {
  .menu__list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
.menu__item {
  text-align: center;
}
.menu__link {
  font-size: 1.125rem;
  line-height: 0, 95; /* 17.1px */
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 40.8125rem) {
  .menu__icon {
    position: relative;
    z-index: 3;
  }
  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;
    overflow: auto;
    transition: inset-inline-start 0.3s;
    padding: 4.375rem 0.9375rem 1.875rem;
    background-color: #dbab95;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    block-size: 3.75rem;
    inline-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 36;
    background-color: #f5c5b1;
    transition: inset-inline-start 0.3s;
  }
  .menu__list {
    flex-direction: column;
    background-color: transparent;
    align-items: flex-end;
    row-gap: 1.25rem;
  }
}
@media (max-width: 40.8125rem) and (max-width: 40.75rem) {
  .menu__item {
    font-size: 1.5625rem;
  }
}
@media (max-width: 40.8125rem) {
  .icon-menu {
    flex-shrink: 0;
    flex-basis: 30px;
    display: flex;
    flex-direction: column;
  }
  .icon-menu span {
    margin-block: 0.375rem;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    transition: all 0.3s;
    content: "";
    flex-basis: 2px;
    width: 100%;
    background-color: #1a1818;
  }
  .open-menu .menu__body {
    inset-inline-start: 0;
  }
  .open-menu .menu__body::before {
    inset-inline-start: 0;
  }
  .open-menu .icon-menu {
    justify-content: center;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .open-menu .icon-menu::before {
    transform: rotate(45deg) translateY(0.1875rem);
  }
  .open-menu .icon-menu::after {
    transform: rotate(-45deg) translateY(-0.1875rem);
  }
}
/* Стилів footer */
.footer__container {
  display: grid;
  row-gap: 2.5rem;
}
.footer__blok {
  display: flex;
  -moz-column-gap: 10.9375rem;
       column-gap: 10.9375rem;
  row-gap: 0.9375rem;
}
.footer__blok:last-child {
  justify-content: end;
}
@media (max-width: 56.25rem) {
  .footer__blok {
    -moz-column-gap: 5.625rem;
         column-gap: 5.625rem;
  }
}
@media (max-width: 37.5rem) {
  .footer__blok {
    display: grid;
    justify-content: center;
  }
}
.footer__colums {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.625rem;
  -moz-column-gap: 1.125rem;
       column-gap: 1.125rem;
}
@media (max-width: 34.6875rem) {
  .footer__colums {
    flex-direction: column;
  }
}
.footer__colum {
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
.footer__link-colum {
  margin-block-end: 1.5rem;
  color: #292830;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.footer__row {
  display: grid;
  row-gap: 0.5rem;
}
@media (max-width: 34.6875rem) {
  .footer__row {
    display: none;
  }
}
.footer__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.9375rem;
}
.footer__footer :last-child {
  justify-items: end;
}
@media (max-width: 45.9375rem) {
  .footer__footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 32.625rem) {
  .footer__footer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.footer__items {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.footer__list {
  justify-content: end;
}
.row-footer__link {
  color: #292830;
  font-size: 1.125rem;
  font-weight: 500;
}

.form-footer__text {
  color: #BDBDBD;
  font-size: 0.875rem;
}
.form-footer__text:not(:last-child) {
  margin-block-end: 1.125rem;
}
.form-footer__colum {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--Dark, #292830);
  padding-block: 0.4375rem;
  padding-inline: 1.4375rem 0.375rem;
  margin-block-end: 0.625rem;
}
.form-footer__input {
  color: #292830;
  font-size: 1.125rem;
  font-size: 18px;
}
.form-footer__button:hover {
  background-color: #fff;
}

/* --------------------- */
/* Стилів main */
.page__hero {
  margin-block-start: 6.875rem;
  margin-block-end: 14.625rem;
}

.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.hero__blok {
  flex: 0 1 47.41%;
  display: flex;
}
.hero__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.hero__button {
  display: flex;
  align-items: center;
}
.hero__button img {
  margin-inline-start: 0.625rem;
}
.hero__imeg {
  flex-grow: 1;
}
.hero__imeg img {
  width: 100%;
}