.logo {		
	font-size: toRem(23);	
	font-weight: 500;
	line-height: 0.95;/* 21.85px */
	span{
		margin-inline-end: toRem(12);
		padding: toRem(6) toRem(13) toRem(8) toRem(14);
		
		color: #FFF;
		font-size: toRem(24);
		font-weight: 700;

		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #FF7235;	
	}
}
.button {
	border-radius: 8px;
	border: 1px solid #FF7235;
	padding-block: toRem(12);
	padding-inline: toRem(24);	
	svg {
		padding-inline-start: toRem(10);
	}
	&:hover {
		color: #FF7235;
		background-color: #FFF;
		fill: #FF7235;
	}				
}

.active {
	border-radius: 8px;
	border: 1px solid #FF7235;
	
	background-color: #FF7235;
	padding-block: toRem(10);
	padding-inline: toRem(17) toRem(14);
	font-weight: 600;
	
	transition: background-color 0.5s;
	fill: #fff;
	color: #FFF;
	font-size: toRem(16);
	transition: color 0.5s;
	
	&:hover{
		color: #FF7235;
		background-color: #FFF;
		fill: #FF7235;
	}
}

.content {

	// .content__blok

	&__blok {
		:not(:last-child) {
			margin-block-end: toRem(24);
		}
	}

	// .content__title

	&__sab-title{
		color: #BDBDBD;
		@include adaptiveValue("font-size", 22, 14);
		text-transform: uppercase;
	}

	// .content__title

	&__title {
		color:  #292830;
		@include adaptiveValue("font-size", 96, 24);	
		font-weight: 700;
		
	}

	// .content__text

	&__text {
		color:  #BDBDBD;
		font-size: toRem(24);	
		
		@include adaptiveValue("font-size", 24, 14);
	}

	// .content__button
	&__button{
		display: flex;
		column-gap: toRem(12);
		color: #FF7235;		
		@include adaptiveValue("font-size", 22, 14);
		stroke: #FF7235;
	}
}

