.header {
	// .header__container

	&__container {
		padding-block: toRem(10);
		min-height: toRem(100);

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(10);

		@media (max-width: toRem(653)) {
			min-height: toRem(70);
		}
	}

	// .header__logo

	&__logo {
		flex-basis: toRem(115);

		position: relative;
		z-index: 3;

		@media (max-width: toRem(653)) {
			order: 1;
		}
	}

	// .header__menu

	&__menu {
		display: flex;
		
		@media (max-width: toRem(653)) {
			order: 3;
			margin-inline-end: toRem(20);
		}
	}

	// .header__button

	&__button {
		flex-shrink: 0;
			
		line-height: 95%;		/* 17.1px */

		position: relative;
		z-index: 3;
		border-radius: 8px;
		border: 1px solid #FF7235;
		padding-block: toRem(12) toRem(13);
		padding-inline: toRem(18) toRem(17);
		color: #FF7235;		
		&:hover {
			color: #fff;
			background-color: #FF7235;
			transition: all 0.5s;
		}

		@media (max-width: toRem(653)) {
			order: 2;			
		}
	}	
}



.menu {

	// .menu__icon

	&__icon {
		position: relative;
		z-index: 3;
	}

	// .menu__body

	&__body {			
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;		
		flex-wrap: wrap;
		column-gap: toRem(40);
		row-gap: toRem(3);
		@media (max-width:toRem(685)){
			column-gap: toRem(20)
		}
	}

	// .menu__item

	&__item {
		text-align: center;
	}

	// .menu__link

	&__link {			
	font-size: toRem(18);			
	line-height: 0,95;/* 17.1px */
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
		&:hover{
			text-decoration: underline;
		}
	
		}
	}
}



@media (max-width: toRem(653)) {
	@import "component/menu.scss";
}








