@use "sass:math";
/* Підключення фрифтів */
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");

/* Google Fonts (Plugin) */


@import "_mixins.scss";

/* Локальне підключення шрифтів */
@import "_fonts.scss";

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
	font-family: "Hind+Siliguri";	
	color: #292830;
	font-size: toRem(18);
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;

	// position: relative;
	// z-index: 2;
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */

/* --------------------- */
// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: toRem(1140);
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: toRem(970);
		}

		@media (max-width: $tablet) {
			max-width: toRem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}
/* --------------------- */

// [class*="__container"] {
// 	max-width: toRem(1139);
// 	width: 100%;
// 	margin: 0 auto;
// 	padding-inline: 15px;
// }
// [class*="--margin"] {
// 	margin-bottom: 20px;
// }

// .page {
// 	padding-block: 15px;
// }
/* --------------------- */
/* БЕМ елементі @import */
@import "_common.scss";
/* --------------------- */
/* Стилів header */
@import "_header.scss";
/* Стилів footer */
@import "_footer.scss";
/* --------------------- */
/* Стилів main */

.page {

	// .page__hero

	&__hero {
		margin-block-start: toRem(110);
		margin-block-end: toRem(234);
	}
}

.hero {

	// .hero__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: toRem(30);
	}

	// .hero__blok

	&__blok {
		//max-width: 540px;
		flex: 0 1 47.41%;
		display: flex;
		

	}

	// .hero__content

	&__content {}

	// .hero__buttons

	&__buttons {
		display: flex;
		align-items: center;
		column-gap: toRem(24);
	}

	// .hero__button

	&__button {
		display: flex;
		align-items: center;
		img{
			margin-inline-start: toRem(10);
		}
		
	}

	// .hero__imeg

	&__imeg {
		flex-grow: 1;
		//flex-basis: 540px;
		//max-width: 540px;

		img{
			width: 100%;
		}
	}
}






















